<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta name="google-site-verification" content="dJG-xenN_RVmp1_L7Pq2RrWq68eUQTvXrWm7jqIDm98" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!-- Main CSS -->
 	<link rel="stylesheet" href="/styles/main.css">

  	<!-- Main JS -->
  	<script defer src="/scripts/main.js"></script>

	<title>Login</title>
</head>
<body>
	<div class="card">
		<article class="card-body">
		<h4 class="card-title text-center mb-4 mt-1">Login</h4>
		<hr>
			<form>
				<div class="form-group">
					<div class="input-group">
						<div class="input-group-prepend">
						    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
						 </div>
						<input value="" class="form-control" placeholder="input Username to Login" type="username">
					</div> <!-- input-group.// -->
				</div> <!-- form-group// -->
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block"> Login  </button>
				</div> <!-- form-group// -->
			</form>
			<a class="text-warning text-center" href="/main">Login</a>
			<a class="text-primary text-center" href="/register">Don't have an account yet? Go to Sign up!</a>
		</article>
	</div> <!-- card.// -->

		<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>